<%= form_with(model: resource, class: "contents") do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.name %> from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% send("student_forms").each do |attribute,v| %>
      <div class="my-5">
      <%= render "partials/fields/#{v[:field]}" ,name:attribute, f:f , resource: resource , label_name:v[:title] , v:v%>
    </div>
  <%end %>

  <div class="inline">
    <%= f.submit class: "btn-primary" %>
  </div>
<% end %>
