<%= form_with(model: resource, class: "contents") do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.name %> from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= render "partials/fields/text" ,name: :first_name, f:f%>
  </div>

  <div class="my-5">
    <%= render "partials/fields/text" ,name: :last_name, f:f%>
  </div>

  <div class="my-5">
    <%= render "partials/fields/text" ,name: :birth_place, f:f%>
  </div>

  <div class="my-5">
    <%= render "partials/fields/date" ,name: :birth_date, f:f%>
  </div>

  <div class="my-5">
    <%= render "partials/fields/radio" ,name: :gender, f:f , hash_collection:resource.class.genders%>
  </div>

  <div class="my-5"     >
    <%= render "partials/fields/telephones" ,name: :phone, f:f , resource:resource %>
  </div>

  <div class="my-5">
    <%= render "partials/fields/email" ,name: :email, f:f%>
  </div>

  <div class="my-5">
    <%= render "partials/fields/text" ,name: :residence, f:f%>
  </div>

  <div class="inline">
    <%= f.submit class: "btn-primary" %>
  </div>
<% end %>
