<tr id="<%= dom_id class_room %>">
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">     <%= class_room.name %>  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700">    <%= class_room.capacity %>   </td>

  <td class="whitespace-nowrap px-4 py-2 flex justify-between">
    <% if action_name != "show" %>
      <%= link_to 'Edit this class_room', edit_class_room_path(class_room), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Destroy", class_room_path(class_room),class:"rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" , data: { turbo_method: :delete, turbo_confirm: "Are you sure?"   } %>
      <hr class="mt-6">
    <% end %>
  </td>
</tr>
