<tr id="<%= dom_id user %>" class="text-center"> 
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"> 
    <%= user.name %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700">
    <%= user.email %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700">
    <%= user.role %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700">
    <%= user.phone %>
  </td>
</tr>